@font-face {
  font-family: Monospaced;
  src: url(./fonts/JetBrainsMono-VariableFont_wght.ttf);
}

body {
  font-family: "Monospaced";
}

.container {
  display: flex;
  width: 95vw;
  padding: 10px 0 0 0;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 10px;
  width: 95vw;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

#myTable {
  padding: 5px;
}

td {
  text-align: center;
}

.invisible {
  display: none;
}

.form-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.form-input {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
}

.new-book-form {
  border: none;
  border-radius: 5px;
}

dialog::backdrop {
  opacity: 0.8;
}

.new-book {
  border-radius: 5px;
  border: none;
  font-family: "Monospaced";
  width: 110px;
  height: 30px;
  background-color: rgb(228 240 245);
}

button {
  border-radius: 5px;
  border: none;
  font-family: "Monospaced";
  background-color: rgb(228 240 245);
  margin: 10px 0 0 0;
}

.closeDialog,
.submitForm,
.delete {
  height: 30px;
  width: 100px;
}

.markRead {
  width: 120px;
  height: 30px;
}

.delete,
.markRead {
  margin: 0;
}

h1,
h3 {
  text-align: center;
}

.button-modal {
  display: flex;
  justify-content: space-between;
}
